# Настройка для Grafana
server {
    listen 80;
    server_name vm.{{ domain }};

    location / {
        proxy_pass http://localhost:8428;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}